<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>You are about to delete user <%= user.email %> type password for verification</h2>

    <form action="/user/<%= user.id %>?_method=DELETE" method="post">


        <input type="password" name="password" placeholder="Type password">

        <button>Delete</button>

    </form>
</body>
</html>